<div th:fragment="footer">
	<script src="js/sidebar.js"></script>

	<div th:insert="blocks/notification :: notification"></div>

	<script>
			function updateTable(status = 'actual') {
				$.ajax({
					url: '/api/getTableData',
					type: 'GET',
					data: { status: status },
					success: function(data) {
						var html = '';
						data.forEach(function(item) {

							var hostNames = $.map(item.hosts, function(host) {
								return host.name;
							}).join(', ');

							html += '<tr><td>' + item.reservationID + '</td><td>' + item.status.name + '</td><td>' + item.user + '</td><td>' + item.reservationDateStart.replace(/T/g, ' ') + '</td><td>' + item.reservationDateEnd.replace(/T/g, ' ') + '</td><td>' + item.platform.name + '</td><td>' + hostNames + '</td><td>' + item.comment + '</td></tr>';
						});
						$('#DynamicTable tbody').html(html);

						$('#DynamicTable').SetEditable({
							$addButton: $('#addNewRow'),
							status: status
						});
					}
				});
			}

			updateTable();
	</script>
</div>