<div th:fragment="notification">
    <div class="notification success-alert">
        <div class="notification__body">
            <img
                    alt="Success"
                    src="assets/check-circle.svg"
                    class="notification__icon"
            >
            <p></p>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification error-alert">
        <div class="notification__body">
            <img
                    alt="Error"
                    src="assets/alert-triangle.svg"
                    class="notification__icon"
            >
            <p></p>
        </div>
        <div class="notification__progress"></div>
    </div>
</div>