<div th:fragment="table">
    <table class="table table-bordered table-striped table-hover table-condensed  text-center center-block" id="DynamicTable">
        <thead>
        <tr>
            <th class="text-center">id</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Пользователь</th>
            <th class="text-center">Начало</th>
            <th class="text-center">Окончание</th>
            <th class="text-center">Платформа</th>
            <th class="text-center">№ ПК</th>
            <th class="text-center">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="add-line-button text-center">
        <button id="addNewRow" class="round-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                 viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </button>
    </div>
</div>